.selector {
  position: absolute;
  width: fit-content;
  height: auto;
  float: left;
  position: relative;
  padding-left: 50px;
}

h1 {
  text-align: left;
  margin-left: 50px;
}

mat-option {
  background-color: lightgray;
}

mat-list-item {
  display: inline-block;
  float: left;
}

.example-card {
  display: inline-block;
  float: left;
  margin-left: 100px;
  max-width: 400px;
  max-height: 500px;
  background-color: lightgray;
}
.matImage {
  max-width: 400px;
  max-height: 100;
}

.example-header-image {
  background-size: cover;
}

.input {
  position: relative;
  display: block;
  float: left;
  margin-left: 100px;
}

.inInput {
  position: relative;
  width: 250px;
  float: left;
}

h2 {
  text-align: start;
}

.updateButton {
  float: right;
}

.couponTableDiv {
  height: 65%;
  overflow: visible;
}

.couponTable {
  width: 85%;
  background-color: rgb(187, 187, 187);
  margin-left: 50px;
  overflow: auto;
}

td {
  color: black;
  width: fit-content;
  text-align: left;
}

th {
  background-color: black;
  height: 1px;
  color: white;
}

.backButton {
  margin-top: 25px;
  float: right;
  margin-right: 180px;
  background-color: black;
  color: yellow;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  background-color: black;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.model {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  margin: 135px 150px 500px 280px;
  top: 0;
  width: 60%;
  height: 50%;
  overflow: auto;
  background-color: rgb(78, 77, 77);
}

.image1101 {
  margin: auto;
  width: 85%;
  height: 85%;
  max-width: 700px;
}
