<h1>welcome admin</h1>
<mat-form-field appearance="fill" class="selector">
  <mat-label>what are we doing</mat-label>
  <mat-select [(value)]="selected">
    <mat-option [routerLink]="['/admin']"></mat-option>
    <mat-option value="add company" [routerLink]="['/addCompany']">add company</mat-option>
    <mat-option value="get one company" [routerLink]="['/getOneCompany']">get one company</mat-option>
    <mat-option value="get all companies" [routerLink]="['/getAllCompanies']">get all companies</mat-option>
    <mat-option value="add customer" [routerLink]="['/addCustomer']">add customer</mat-option>
    <mat-option value="get one customer" [routerLink]="['/getOneCustomer']">get one customer</mat-option>
    <mat-option value="get all customers" [routerLink]="['/getAllCustomers']">get all customers</mat-option>
    <mat-option value="get all coupons" [routerLink]="['/getAllCoupons']">get all coupons</mat-option>

  </mat-select>
</mat-form-field>












<div class="input" *ngIf="showUpdate == true">
  <br><br>

  <h2><u>update company</u></h2>

  <mat-form-field appearance="fill" class="inInput">
    <mat-label>Company Name: <strong>{{company.name}}</strong></mat-label>
    <input matInput [formControl]="companyForm.get('name')">
    <mat-error *ngIf="companyForm.get('name') .hasError('required')">
      full name is <strong>required</strong>
    </mat-error>
  </mat-form-field> <br>

  <mat-form-field appearance="fill" class="inInput">
    <mat-label>Email: <strong>{{company.email}}</strong></mat-label>
    <input matInput [formControl]="companyForm.get('email')">
    <mat-error *ngIf="companyForm.get('email') .hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="companyForm.get('email') .hasError('email')">
      Not a <strong>Valid Email</strong>
    </mat-error>
  </mat-form-field> <br>

  <mat-form-field appearance="fill" class="inInput">
    <mat-label>Password: <strong> {{company.password}}</strong></mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="companyForm.get('password')">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="companyForm.get('password').hasError('minlength') ">
      password must contain <strong>8 characters</strong>
    </mat-error>
    <mat-error *ngIf="companyForm.get('password').hasError('required')">
      password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button [disabled]="companyForm.invalid" mat-raised-button color="primary" class="updateButton"
    (click)="update()">Update</button>

</div>


<br><br><br><br>




<div *ngIf="showImage == true" class="model">
  <button mat-button class="close" (click)="closeImage()">&times;</button>
  <img src="../../../../../assets/images/{{image}}" class="image">
</div>








<div *ngIf="showTable == true" class="companyTableDiv">
  <table mat-table [dataSource]="dataSource" class="dataTable">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element"> {{element.password}} </td>
    </ng-container>

    <ng-container matColumnDef="commands">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="td5">
        <button mat-raised-button class="commands" (click)="getName(element)" (click)="openCoupons(element)"
          (click)="showTable = false" (click)="hideCompanyCoupons = !hideCompanyCoupons" (click)="showUpdate = false"
          class="tableButton">Coupons</button>
        <button mat-raised-button color="primary" class="commands" class="tableButton" (click)="openUpdate(element)"
          (click)="showUpdate = !showUpdate">Update</button>
        <button mat-raised-button color="warn" class="commands" class="tableButton"
          (click)="delete(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>










<h1 *ngIf="hideCompanyCoupons == false">Company name: <u>{{company.name}}</u></h1>
<div *ngIf="hideCompanyCoupons == false" class="couponTableDiv">


  <table mat-table [dataSource]="couponDataSource" class="couponTable">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> category </th>
      <td mat-cell *matCellDef="let element"> {{element.catagory}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> amount </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> start date </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date:'dd-MMMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> end date </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date:'dd-MMMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><button mat-flat-button color="primary"
          (click)="getImage(element.image)">show image</button></td>
    </ng-container>

    <ng-container matColumnDef="commands">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" class="commands" class="tableButton"
          (click)="deleteCoup(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="couponDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: couponDisplayedColumns;"></tr>
  </table>
</div>
<button *ngIf="showTable == false && showImage == false" mat-flat-button color="primary" (click)="showTable = true"
  (click)="hideCompanyCoupons = true" class="backButton">all companies</button>
