.input {
  width: 250px;
}

.container {
  padding-top: 60px;
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 100px;
}

h1 {
  float: left;
}

.login {
  display: inline;
  margin-left: 190px;
}
